<!DOCTYPE html>
<html>
<head>
  <title>SlimBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <% if admin_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_admin_session_path, method: :delete) %>
    </li>
  <% else %>
    <li>
    <%= link_to('Login', new_admin_session_path)  %>
    </li>
  <% end %>
  </header>

<%= yield %>

</body>
</html>
