<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="main-container">
  <div class="main-content">
    <div class="heading">
      <h1><a href="/">Bryan Mytko</a></h1>
      <p>Software and stuff.</p>
    </div>
    <nav class="top-nav">
      <ul>
        <li><a href="/">Words</a></li>
        <li><a href="/visuals">Visuals</a></li>
        <li><a href="/about">About</a></li>
        <%= admin_new_button %>
      </ul>
    </nav>
    <div class="content">
      <%= yield %>
    </div>
  </div>
</div>

<footer>
  <ul>
    <li><a class="github" href="http://github.com/bryanmytko"></a></li>
    <li><a class="twitter" href="http://twitter.com/bryanmytko"></a></li>
  </ul>
  <p>&copy; 2016 bryanmytko.com</p>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64211931-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
